<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
  <h1>Book List</h1>
  <ul>
    <% books.forEach((book) => { %>
      <li>
        <a href="/api/books/<%= book._id %>"><%= book.text %></a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('partials/footer') %>
