<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
  <h1>Book List</h1>
    <div class="books">
      <% books.forEach((book) => { %>
          <a class="single" href="/api/books/<%= book._id %>">
          <h3><%= book.name%></h3>
          <h3><%=book.author%></h3>
          <p><%=book.title%></p>
          <small><p><%=book.price.toFixed(2)%>€</p></small>
        </a>
      <% }) %>
    </div>
</main>


<%- include('partials/footer') %>
